.footer {
  background-color: $brand-dark;
  color: #fff;
  font-size: 0.8rem;
  height: 60px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fact {
      display: none;
      @media screen and (min-width: 1175px) {
        display: inline;
      }
    }
  }
}
