@import "./stylesheets/index.scss";

html {
  font-size: 16px;
}

body {
  background-color: $brand-dark;
  color: $brand-dark;
  font-family: $font-stack;
  height: 100vh;
}

.logo {
  height: 25px;
}
