@import "./stylesheets/index.scss";

html {
  font-size: 16px;
}

body {
  background-color: $brand-dark;
  color: $brand-dark;
  font-family: $font-stack;
  height: 100vh;
}

.logo {
  height: 25px;
}

.contacts {
  color: $brand-highlight;
  display: flex;
  flex-direction: row;
  width: 100%;
  img {
    max-width: 100%;
  }
  > * {
    margin-right: 10px;
  }
}
